body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d0c9c9;
}

header {
    background: #720101;
    color: #fff;
    padding: 10px 50px 20px;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#Aleksandar {
    width: 150px;
    height: auto;
    border-radius: 50% 50% / 50% 50%;    
    
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 1;
}
